<div class="main">


  <div class="user-form">
    <h1>Christine & Ted's Birthday Festival</h1>
    <h3>Hello and welcome to our interactive invitation</h3>
    <h4>Scroll down and you will find a simple form to fill out that will let us know what
      days we can expect you</h4>

    <h2>RSVP 30TH MARCH</h4>
      <br>
      <br>
      <br>
      <h3>What's on!</h3>
      <table class="table">
        <tr>
          <td>Friday Evening</td>
          <td>
            <p> 9pm: BYO Supper and share it</p>
            <p> Fireworks</p>
          </td>

        </tr>
        <tr>
          <td>Saturday Daytime</td>
          <td>
            <p>Morning: yoga and activities <br>
              Afternoon: Childrens activities <br>
              7:30pm: Barn dance and music</p>

          </td>
        </tr>
        <tr>
          <td>Sunday Daytime</td>
          <td>
            <p>Morning: yoga and activites <br>
              Afternoon: Shakespear</p>
          </td>
        </tr>
      </table>
      <br>
      <br>
      <br>
      <h3>Catering!</h3>
      <h6>Everone is invited to lunch, cake and champagne, but for catering purposes</h6>
      <h6>only family, those camping or staying in B&B's will be catered for at breakfast and</h6>
      <h6>supper on Saturday evening</h6>

      <table class="table">
        <tr>
          <td>Friday Evening</td>
          <td>
            <p> Sharing meal: bring enough main and desert <br> to feed yourself and then share it!</p>
          </td>

        </tr>
        <tr>
          <td>Saturday Daytime</td>
          <td>
            <p>Breakfast, Lunch, Supper</p>
          </td>
        </tr>
        <tr>
          <td>Sunday Daytime</td>
          <td>
            <p>Brunch, Lunch, Cake, Tea & Champagne</p>
          </td>
        </tr>
      </table>
      <br>
      <br>
      <br>
      <h3>Bring...</h3>
      <ul>
        <li>
          <p>Swimming costumes & towels </p>
        </li>
        <li>
          <p>Secateurs </p>
        </li>
        <li>
          <p>Dancing shoes </p>
        </li>
      </ul>

      <h6>No presents, just your company & food on Friday </h6>

      <br>
      <br>
      <br>

      <div class="options">
        <div class="form">
          <form action="/save-details" method="post">
            <div class="name">
              <h3>Names</h3>
              <input class="form-control form-control" required="required" type="text" name="name" placeholder="Tom, Dick, Harry...">
            </div>
            <br>
            <br>
            <div class="extra">
              <h3>How many are you bringing?</h3>
              <h4>Adults</h4>
              <div class="">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select mr-sm-2" required name="adults" id="inlineFormCustomSelect">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="3">Four</option>
                  <option value="3">Five</option>
                </select>
              </div>
            </div>
            <br>
            <br>
            <h4>Children</h4>
            <div class="">
              <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
              <select class="custom-select mr-sm-2" name="children" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                <option value="0">None</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="3">Four</option>
                <option value="3">Five</option>
              </select>
            </div>

            <br>
            <br>
            <div class="when">
              <h3>When are you coming?</h3>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="daysAttending" value="FriPM" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Friday Evening
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="daysAttending" value="SatAM" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Saturday Daytime
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="daysAttending" value="SatPM" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Saturday Evening
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="daysAttending" value="SunAM" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Sunday Daytime
                </label>
              </div>
            </div>
        </div>
        <br>
        <br>
        <h3>Are you camping?</h3>
        <div class="camping">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="camping" id="camping" value="yes" checked>
            <label class="form-check-label" for="camping">
              Yes
            </label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="camping" id="camping" value="no" checked>
            <label class="form-check-label" for="camping">
              No
            </label>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div style="margin-top: 20px" class="music">
        <h3>Suggest a favourite piece of music to dance to</h3>
        <input class="form-control form-control" type="text" name="favoriteSong" placeholder="Type here...">
      </div>

      <div style="margin-top: 20px" class="">
        <button type="submit" class="btn btn-success
      ">Submit</button>
      </div>
      </form>

  </div>

</div>
</div>