<div class="invitation-page">
  <div class="text">
    <div class="header">
      <h1 style="margin-top: 30px">YOU ARE INVITED TO CHRISTINE AND TED'S <br> 120TH BIRTHDAY FESTIVAL</h1>
      <div class="date">

        <h1>5/7/2019 - 7/7/2019</h1>
      </div>

    </div>
    <h1 style="margin-bottom: 30px"><a href="/rsvp">CLICK HERE TO RSVP</a></h1>

    <div class="info">
      <h3>
        A weekend of music, dancing making and food
      </h3>
    </div>
  </div>
</div>